:root {
    --wit: white;
    --zwart: black;
    --donkergrijs: rgba(15, 15, 15, 1);
    --groen: rgb(19, 51, 43);
    --lichtgroen: #2b6b51;
    --goud: rgb(166, 136, 99);
    --hoofdkleur: var(--zwart);
    --accentkleur: var(--goud);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: var(--hoofdkleur);
    color: var(--accentkleur);

    > * {
        width: 100%;
        max-width: 100vw;
    }
}

a,
button {
    cursor: pointer;
}

iframe {
    border: 0;
    width: 500px;
    height: auto;
    aspect-ratio: 16 / 9;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-block: 5rem;
}

// /* ============= tekst ==========================================================================*/
// h1 {
//     /*KOPPEN 1 ("portfolio")*/
//     font-size: 50px;
//     font-weight: 400;
//     color: var(--accentkleur);
//     text-transform: uppercase;
// }
// h2 {
//     /*knop bruiloft*/
//     font-size: 33px;
//     font-weight: 600;
//     line-height: 43px;
//     padding: 0px;
//     margin: 0px;
//     color: var(--zwart);
// }
// .p1 {
//     /*over*/
//     font-size: 17px;
//     color: var(--accentkleur);
// }
// .p2 {
//     /*tijdbalk*/
//     font-size: 17px;
//     font-weight: 400;
//     margin: 22px;
//     color: var(--accentkleur);
//     display: block;
// }
// div.jaartallen .p2 {
//     margin: 0px;
// }
// .p3 {
//     /*KOPPEN TIJDBALK*/
//     font-size: 45px;
//     font-weight: 400;
//     color: var(--accentkleur);
//     padding-left: 40px;
//     padding-right: 35px;
//     display: block;
// }
// .p4 {
//     /*voettekst*/
//     font-size: 17px;
//     color: var(--accentkleur);
//     opacity: 0.9;

//     a {
//         color: var(--accentkleur);
//         text-decoration: none;
//     }
// }

// html,
// body {
//     background-color: var(--hoofdkleur);
//     padding: 0px;
//     margin: 0px;
//     /*max-width: 100%;*/
//     width: 100%;
//     height: 100%;
//     overflow-x: hidden;
//     overflow-y: auto;
// }

// div.videocontainer {
//     position: absolute;
//     /*border: 1px solid aqua;							/* aqua*/
//     width: calc(100% - 0px);
//     height: calc(100% - 0px);
//     left: 0px;
//     top: 0px;
//     display: flex;
//     justify-content: center; /**/
//     align-items: center;
//     overflow: hidden;
// }

// #video {
//     transition: filter 1s;
//     /*flex-shrink: 0;*/
//     min-width: 100%;
// }
// div.titel {
//     position: absolute;
//     left: calc(50% - 170px);
//     top: calc(50% - 30px);
//     width: 340px;
//     height: 60px;
//     text-align: center;
// }
// #banner {
//     position: absolute;
//     height: 90px;
//     top: calc(50% - 45px);
//     left: calc(50% - 265px);
// }

// /*==================  menu  =============================================*/

// /*==================  pagina  ===========================================*/

// #over {
//     position: absolute;
//     height: 300px;
//     width: 100%;
//     left: 0px;
//     background-color: var(--wit);
//     top: calc(100vh + 200px);
// }
// div.marge {
//     /*alternatief voor pagina*/
//     position: absolute;
//     width: calc(80% - 0px);
//     height: 100%;
//     top: 0px;
//     left: 10%;
//     /*background-color: rgba(0,0,0,0.2);*/
// }
// #profielfoto {
//     position: absolute;
//     left: calc(50% - 490px);
// }
// #tekstvak {
//     /*background-color: rgba(0,0,0,0.2); */
//     position: absolute;
//     text-align: right;
//     left: calc(50% - 120px);
//     top: 70px;
//     width: 570px;
//     height: 160px;
// }
// #showreel {
//     position: absolute;
//     height: 600px;
//     width: 100%;
//     left: 0px;
//     overflow: hidden;
//     background-color: var(--zwart);
//     top: calc(100vh + 700px);
//     text-align: center;
//     z-index: 5;
// }
// #showreelplayer {
//     width: 100%;
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 0%;
// }
// #fullscreenknop {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     bottom: 15px;
//     right: 15px;
//     background-image: url("graphics/fullscreen.png");
//     background-size: 100%;
// }
// #bruiloft {
//     background-color: white;
//     background-image: url(graphics/fotobruiloft1.jpg);
//     background-repeat: no-repeat;
//     background-position: 40% 40%;
//     background-size: fill;
//     height: 1500px;
// }

// div.pagina {
//     position: absolute;
//     width: calc(80% - 0px);
//     left: 10%;
//     top: calc(100% + 2050px);
// }
// div#intro {
//     width: 90%;
//     margin: 10px;
// }
// ul.intro {
//     align: top;
// }
// li.intro {
//     list-style-type: none;
//     display: inline-block;
//     width: 45%;
//     vertical-align: top;
//     margin: 10px;
// }

// div.voetnoot {
//     position: relative;
//     bottom: 40px;
//     left: calc(50% - 150px);
//     width: 300px;
//     height: auto;
//     text-align: center;
//     display: block;
// }
// table.voetnoot {
//     border-collapse: collapse;
//     width: 95%;
//     table-layout: fixed;
// }
// table.voetnoot td#links {
//     padding: 4px;
//     padding-right: 8px;
//     text-align: right;
// }
// table.voetnoot td#rechts {
//     padding: 8px;
//     padding-left: 16px;
//     text-align: left;
// }

// div#knop {
//     position: absolute;
//     width: 350px;
//     height: 42px;
//     left: calc(50% - 175px);
//     top: 114px;
//     padding: 15px;
//     border-radius: 5px;
//     background-color: var(--accentkleur);
//     text-align: center;
//     overflow: hidden;
//     -o-transition: 0.5s;
//     -ms-transition: 0.5s;
//     -moz-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
// }
// div#knop:hover {
//     background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
//         var(--accentkleur);
//     -o-transition: 0.5s;
//     -ms-transition: 0.5s;
//     -moz-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
// }

// /*=============== filmlijst ===============================================*/

// div.filmlijst {
//     /*border: 1px solid green;/**/
//     position: relative;
// }
// ul.filmlijst {
//     padding: 0px;
//     margin: 0px;
//     /*border: 1px solid green;                       		/* groen*/
//     position: relative;
//     right: 0%;
//     top: 0px;
//     vertical-align: top;
//     width: calc(100% - 130px);
//     display: inline-block; /*
// 	overflow: hidden;*/
// }
// li.filmlijst {
//     /*border: 1px solid white;								/* wit */
//     position: relative;
//     margin-left: 25px;
//     margin-right: 25px;
//     margin-top: 100px;
//     margin-bottom: 100px;
//     list-style-type: none;
// }

// ul.filmsublijst {
//     /*border: 1px solid red;         					    /* rood */
//     background-color: rgba(200, 200, 200, 0.1);
//     padding: 0px;
//     margin: 0px;
//     position: relative;
//     top: 0px;
//     overflow: hidden;
//     /*transition: 0.9s ease-out;*/
//     -o-transition: 0.5s;
//     -ms-transition: 0.5s;
//     -moz-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
// }
// ul.filmsublijst:hover > div.knopMeerZien {
//     opacity: 0.9;
// }
// ul.filmsublijst:hover > div.duimnagelOverlay {
//     opacity: 0;
// }
// ul.filmsublijst:hover img.pijl {
//     /*transform: rotate(-40deg);
// 	opacity: 0.5;*/
//     height: 110%;
//     margin-right: -3px;
// }
// #filmsublijst1,
// #filmsublijst2,
// #filmsublijst3,
// #filmsublijst4,
// #filmsublijst5,
// #filmsublijst6,
// #filmsublijst7,
// #filmsublijst8,
// #filmsublijst9,
// #filmsublijst10,
// #filmsublijst11,
// #filmsublijst12,
// #filmsublijst13,
// #filmsublijst14,
// #filmsublijst15 {
//     min-height: 10px;
//     width: 100%;
//     max-width: 800px; /*fixme 800*/
// }

// #filmsublijst {
//     /*width: calc(100% - 850px);*/
// }
// div.tijdlijn {
//     border-left: 2px solid var(--accentkleur);
//     top: 0px;
//     bottom: 15px;
//     position: absolute;
//     height: auto;
// }

// div.twintig {
//     /*background-color: rgba(40,40,90,0.8);      			/* blauw*/
//     margin-top: 15px;
// }
// div.jaartallen {
//     /*margin-right: 10px;*/
//     /*border: 1px solid orange;                         	/* oranje*/
//     height: auto;
//     vertical-align: top;
//     /*text-align: right;*/
//     display: inline-block;
// }
// @media only screen and (min-width: 950px) {
//     div.jaartallen {
//         width: 80px;
//         /*padding: 5px;*/
//     }
//     div.tijdlijn {
//         left: 95px;
//     }
// }

// iframe {
//     width: 500px; /*fixme 500*/
//     height: calc(500px / 16 * 9);
//     margin: 22px;
//     margin-bottom: 100px;
// }

// div.duimnagel {
//     /*border: 2px solid grey; 							/* grijs*/
//     left: 0px;
//     top: 0px;
//     width: 800px; /*fixme 800*/
//     height: calc(800px / 16 * 9); /*fixme */
//     margin-left: 0px;
//     background-size: 100%;
//     background-repeat: no-repeat;
//     background-color: linear-gradient(
//         33deg,
//         rgba(0, 0, 0, 0),
//         rgba(0, 0, 0, 1)
//     );
//     z-index: 1;
//     transition: 0.9s ease-out;
// }
// /*div#duimnagel9 {
// 	height: calc(800px / 1920 * 822);
// }*/
// div.duimnagelOverlay {
//     /*border: 3px solid orange;							/* oranje*/
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 800px; /*fixme 800*/
//     height: calc(800px / 16 * 9); /*fixme */
//     background-image: linear-gradient(
//         160deg,
//         rgba(0, 0, 0, 0),
//         rgba(0, 0, 0, 0.7)
//     );
//     -o-transition: 0.5s;
//     -ms-transition: 0.5s;
//     -moz-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     z-index: 2;
//     transition: 0.9s ease-out;
// }
// /*div#duimnagelOverlay9 {
// 	height: calc(800px / 1920 * 822);
// }*/

// div.duimnagelTitel {
//     position: relative;
//     text-align: left;
//     width: 100%;
//     height: 60px;
//     top: 390px;
//     left: 0px;
//     z-index: 3;
// }
// /*div#breedbeeld {
// 	top: 285px;
// }*/

// div.knopMeerZien {
//     position: absolute;
//     text-align: right;
//     width: calc(100% - 0px);
//     height: 50px;
//     top: auto;
//     bottom: 0px;
//     vertical-align: bottom;
//     z-index: 4;
//     -o-transition: 0.5s;
//     -ms-transition: 0.5s;
//     -moz-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
// }
// div.knopMeerZien:hover {
// }

// div.beschrijving {
//     /*border: 1px solid yellow;							/* geel*/
//     max-width: 800px; /*fixme 800*/
//     height: 0px;
//     overflow: hidden;
//     margin-left: 0px;
//     transition: 0.9s ease-out;
// }
// #beschrijving1,
// #beschrijving2,
// #beschrijving3,
// #beschrijving4,
// #beschrijving5,
// #beschrijving6,
// #beschrijving7,
// #beschrijving8,
// #beschrijving9,
// #beschrijving10,
// #beschrijving11,
// #beschrijving12,
// #beschrijving13,
// #beschrijving14,
// #beschrijving15 {
//     transition: height 0.9s ease-out;
// }

// #pijl1,
// #pijl2,
// #pijl3,
// #pijl4,
// #pijl5,
// #pijl6,
// #pijl7,
// #pijl8,
// #pijl9,
// #pijl10,
// #pijl11,
// #pijl12,
// #pijl13,
// #pijl14,
// #pijl15 {
//     height: 100%;
//     transition: 0.2s ease-out;
//     transform: rotate(-45deg);
// }
// #pijl1:hover,
// #pijl2:hover,
// #pijl3:hover,
// #pijl4:hover,
// #pijl5:hover,
// #pijl6:hover,
// #pijl7:hover,
// #pijl8:hover,
// #pijl9:hover,
// #pijl10:hover,
// #pijl11:hover,
// #pijl12:hover,
// #pijl13:hover,
// #pijl14:hover,
// #pijl15:hover {
//     transition: 0.1s ease-in;
//     transform: rotate(-40deg);
// }

// /*======= Bruiloft ==========================*/

// div.headerfotobruiloft {
//     background-image: url("graphics/fotobruiloft1.jpg");
//     background-size: fill;
//     background-repeat: no-repeat;
//     background-position: center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0px;
//     top: 0px;
//     display: flex;
//     overflow: hidden;
// }

// /* ============= mobiel ================================================================================================================================================== */

// @media only screen and (max-width: 950px) {
//     #over {
//         height: 540px;
//     }
//     div.marge {
//         width: 94%;
//         left: 3%;
//     }
//     #profielfoto {
//         position: absolute;
//         left: calc(50% - 200px);
//     }
//     #tekstvak {
//         top: 310px;
//         left: 0px;
//         width: 100%;
//         height: 320px;
//     }
//     #showreel {
//         top: calc(100vh + 900px);
//         height: 400px;
//     }
//     #showreelplayer {
//         width: 100%;
//     }
//     #bruiloft {
//         top: calc(100vh + 1500px);
//     }
//     div.pagina {
//         width: calc(94% - 0px);
//         left: 3%;
//         top: calc(100% + 2100px);
//     }
//     div#intro {
//         width: 90%;
//         margin-left: 10px;
//     }
//     li.intro {
//         display: block;
//         margin: 10px;
//         width: 65%;
//     }

//     div#knop {
//         width: 250px;
//         left: calc(48% - 135px);
//     }
//     div.tijdlijn {
//         left: 45px;
//     }
//     div.jaartallen {
//         width: 35px;
//         padding: 0px;
//     }

//     ul.filmlijst {
//         width: calc(100% - 45px);
//     }

//     #filmsublijst1,
//     #filmsublijst2,
//     #filmsublijst3,
//     #filmsublijst4,
//     #filmsublijst5,
//     #filmsublijst6,
//     #filmsublijst7,
//     #filmsublijst8,
//     #filmsublijst9,
//     #filmsublijst10,
//     #filmsublijst11,
//     #filmsublijst12,
//     #filmsublijst13,
//     #filmsublijst14,
//     #filmsublijst15 {
//         min-height: 10px;
//         width: 100%;
//         max-width: 300px; /*fixme 800*/
//     }
//     iframe {
//         width: 300px; /*fixme 500*/
//         height: calc(300px / 16 * 9);
//         margin: 2px;
//         margin-bottom: 100px;
//     }

//     div.duimnagel {
//         left: 0px;
//         top: 0px;
//         width: 300px; /*fixme 800*/
//         height: calc(300px / 16 * 9); /*fixme */
//         margin-left: 0px;
//         background-size: 100%;
//         background-color: linear-gradient(
//             33deg,
//             rgba(0, 0, 0, 0),
//             rgba(0, 0, 0, 1)
//         );
//         z-index: 1;
//         transition: 0.9s ease-out;
//     }
//     div.duimnagelOverlay {
//         position: absolute;
//         left: 0px;
//         top: 0px;
//         width: 300px; /*fixme 800*/
//         height: calc(300px / 16 * 9); /*fixme */
//         background-image: linear-gradient(
//             160deg,
//             rgba(0, 0, 0, 0),
//             rgba(0, 0, 0, 0.7)
//         );
//         -o-transition: 0.5s;
//         -ms-transition: 0.5s;
//         -moz-transition: 0.5s;
//         -webkit-transition: 0.5s;
//         transition: 0.5s;
//         z-index: 2;
//         transition: 0.9s ease-out;
//     }
//     div.knopMeerZien {
//         height: 30px;
//     }
//     div.beschrijving {
//         /*border: 1px solid yellow;							/* geel*/
//         width: auto; /*fixme 800*/
//         height: 0px;
//         overflow: hidden;
//         margin-left: 0px;
//         margin-right: 20px;
//         transition: 0.9s ease-out;
//     }
//     div.duimnagelTitel {
//         position: relative;
//         text-align: left;
//         width: 100%;
//         height: 29px;
//         top: 135px;
//         left: 0px;
//         overflow: hidden;
//         z-index: 3;
//     } /*
// 	div#breedbeeld {
// 		top: 95px;
// 	}
// 	div#duimnagel9 {
// 		height: calc(300px / 1920 * 822);
// 	}
// 	div#duimnagelOverlay9 {
// 		height: calc(300px / 1920 * 822);
// 	}*/

//     #pijl1,
//     #pijl2,
//     #pijl3,
//     #pijl4,
//     #pijl5,
//     #pijl6,
//     #pijl7,
//     #pijl8,
//     #pijl9,
//     #pijl10,
//     #pijl11,
//     #pijl12,
//     #pijl13,
//     #pijl14,
//     #pijl15 {
//         height: 90%;
//     }
//     h1 {
//         font-size: 40px;
//         /*padding-left: 50px;*/
//     }
//     h2 {
//         font-size: 25px;
//     }
//     h2#knop {
//         font-size: 22px;
//     }
//     .p2 {
//         font-size: 15px;
//         /*margin: 5px;*/
//     }
//     .p3 {
//         font-size: 21px;
//         padding-left: 13px;
//     }
//     .p4 {
//         font-size: 15px;
//     }
//     #banner {
//         width: 250px;
//         height: calc(250px / 1920 * 326);
//         left: calc(50% - 125px);
//         top: calc(50% - 21px);
//     }
//     /*div.titel {
// 		height: 80px;
// 	}*/

//     div.headerfotobruiloft {
//         background-position: 25% 50%;
//     }
// }
