---
import { Image } from "astro:assets";
import Menu from "../components/Menu.astro";
import Voetnoot from "../components/Voetnoot.astro";
import Youtube from "../components/Youtube.astro";
import Main from "../layouts/main.astro";

import FotoBruiloft from "../assets/fotobruiloft1.jpg";
---

<Main>
    <Menu opPagina="/bruiloft" />

    <header>
        <Image src={FotoBruiloft} alt="Foto van mij die een bruiloft filmt" />
    </header>

    <main>
        <h1>Bruiloftsfilms</h1>

        <p>
            Wil je jullie bruiloft laten filmen? Neem vrijblijvend contact op
            via
            <a href="mailto:mail@mhorrfilms.nl">mail@mhorrfilms.nl</a>
        </p>
        <p>Onderstaande filmpjes geven een idee van wat je kunt verwachten.</p>
        <p>
            <Youtube titel="" youtubeId="tvvP_2WvoPo" />
        </p>
        <p>
            <Youtube titel="" youtubeId="4Q3894EsVLY" />
        </p>
    </main>

    <Voetnoot />
</Main>

<style>
    header {
        user-select: none;
        height: 100vh;
        position: relative;
        display: grid;
        place-content: center;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            object-position: 40% 50%;
        }

        h1 {
            text-transform: uppercase;
        }
    }

    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
</style>
