---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Voetnoot from "../components/Voetnoot.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
    <Menu />

    <Hero
        titel="Bruiloftsfilms"
        achtergrondBestand="plaatjes/fotobruiloft1.jpg"
    />

    <main>
        <p>
            Wil je jullie bruiloft laten filmen? Neem vrijblijvend contact op
            via <a
                href="mailto:mail@mhorrfilms.nl"
                style="text-decoration: none; color: rgb(166, 136, 99);"
                >mail@mhorrfilms.nl</a
            >
            <br />Onderstaande filmpjes geven een idee van wat je kunt
            verwachten.
        </p>
        <p>
            <iframe
                src="https://www.youtube-nocookie.com/embed/tvvP_2WvoPo"
                allow="encrypted-media; picture-in-picture"
                allowfullscreen></iframe>
        </p>
        <p>
            <iframe
                src="https://www.youtube-nocookie.com/embed/4Q3894EsVLY"
                allow="encrypted-media; picture-in-picture"
                allowfullscreen></iframe>
        </p>

        <Voetnoot />
    </main>
</Layout>

<style lang="scss"></style>
