---
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Voetnoot from "../components/Voetnoot.astro";
import Youtube from "../components/Youtube.astro";
import Main from "../layouts/main.astro";
---

<Main>
    <Menu opPagina="/bruiloft" />

    <Hero achtergrondBestand="/plaatjes/fotobruiloft1.jpg" />

    <main>
        <h1>Bruiloftsfilms</h1>

        <p>
            Wil je jullie bruiloft laten filmen? Neem vrijblijvend contact op
            via
            <a href="mailto:mail@mhorrfilms.nl">mail@mhorrfilms.nl</a>
        </p>
        <p>Onderstaande filmpjes geven een idee van wat je kunt verwachten.</p>
        <p>
            <Youtube titel="" youtubeId="tvvP_2WvoPo" />
        </p>
        <p>
            <Youtube titel="" youtubeId="4Q3894EsVLY" />
        </p>
    </main>

    <Voetnoot />
</Main>

<style>
    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
</style>
