---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Voetnoot from "../components/Voetnoot.astro";
import Hero from "../components/Hero.astro";
import Youtube from "../components/Youtube.astro";
---

<Layout>
    <Menu opPagina="/bruiloft" />

    <Hero
        titel="Bruiloftsfilms"
        achtergrondBestand="/plaatjes/fotobruiloft1.jpg"
    />

    <main>
        <p>
            Wil je jullie bruiloft laten filmen? Neem vrijblijvend contact op
            via
            <a href="mailto:mail@mhorrfilms.nl">mail@mhorrfilms.nl</a>
        </p>
        <p>Onderstaande filmpjes geven een idee van wat je kunt verwachten.</p>
        <p>
            <Youtube titel="" youtubeId="tvvP_2WvoPo" />
        </p>
        <p>
            <Youtube titel="" youtubeId="4Q3894EsVLY" />
        </p>
    </main>

    <Voetnoot />
</Layout>

<style lang="scss"></style>
