---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import { diffInYear } from "../lib/date";

const today = new Date();
const birthday = new Date("1999-07-10");

const leeftijd = diffInYear(today, birthday);
---

<Layout>
    <Nav />

    <div class="videocontainer">
        <video autoplay muted loop id="video">
            <source src="filmpjes/header.mp4" type="video/mp4" />
        </video>
    </div>

    <div id="over">
        <div class="marge">
            <img src="graphics/Ruben.jpg" height="300px" id="profielfoto" />
            <!--breedte = 530px-->
            <div id="tekstvak">
                <p class="p1" style="color: black;">
                    Welkom bij Mhorrfilms. Ik ben Ruben van Briemen, een
                    {leeftijd}-jarige student Industrieel Ontwerpen in Delft.
                    Naast mijn studie steek ik veel tijd, energie en
                    enthousiasme in film; eerst vooral bij de
                    studentenvereniging waar ik lid ben, maar de laatste tijd
                    pak ik meer filmprojecten op, waaronder
                    bruiloftsvideografie.
                    <br />
                    Benieuwd naar wat ik maak? Neem een kijkje in mijn portfolio
                    hieronder.
                </p>
            </div>
        </div>
    </div>

    <div id="showreel">
        <video
            id="showreelplayer"
            preload="none"
            poster="filmpjes/showreel duimnagel.jpg"
            onclick="this.paused ? this.play() : this.pause();"
        >
            <source src="filmpjes/showreel klein.mp4" type="video/mp4" />
        </video>

        <div
            id="fullscreenknop"
            onclick="goFullscreen('showreelplayer'); return false"
        >
        </div>
    </div>

    <div id="bruiloft">
        <a href="bruiloft/index.html" style="text-decoration: none;"
            ><div id="knop"><h2 id="knop">Bruiloft laten filmen?</h2></div>
        </a>
    </div>

    <div class="pagina">
        <h1>PORTFOLIO</h1>

        <div class="filmlijst">
            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2022</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel15">
                            <ul class="filmsublijst" id="filmsublijst15">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen15()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl15"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen15()"
                                    id="duimnagelOverlay15"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel15"
                                    style="background-image: url('duimnagels/15doucheservice.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">
                                            Bedrijfsvideo Doucheservice
                                        </p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving15">
                                    <p class="p2">
                                        In de zomer van 2022 maakte ik deel uit
                                        van het marketingteam van Doucheservice
                                        en heb ik een onder andere deze
                                        bedrijfsvideo gefilmd en gemonteerd.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/VfuJ7Sv9Ar4"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel14">
                            <ul class="filmsublijst" id="filmsublijst14">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen14()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl14"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen14()"
                                    id="duimnagelOverlay14"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel14"
                                    style="background-image: url('duimnagels/14bruiloftryanellen.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Bruiloft Ryan & Ellen</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving14">
                                    <p class="p2">
                                        In april 2022 maakte ik deze video van
                                        de bruiloft van Ryan en Ellen
                                    </p>
                                    <iframe
                                        src="https://youtube.com/embed/tvvP_2WvoPo"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel13">
                            <ul class="filmsublijst" id="filmsublijst13">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen13()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl13"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen13()"
                                    id="duimnagelOverlay13"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel13"
                                    style="background-image: url('duimnagels/13eenongewenstelift.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Een Ongewenste Lift</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving13">
                                    <p class="p2">
                                        In 2021 vierde de christelijke
                                        studentenvereniging C.S.R. Delft haar
                                        60-jarig bestaan. Ter gelegenheid van
                                        dit twaalfde lustrum heeft een aantal
                                        leden een speelfilm van 40 minuten
                                        gemaakt. "Een Ongewenste Lift" is een
                                        actie-komedie door en voor leden. Aan
                                        dit project werkten vijf acteurs en 30
                                        figuranten mee. Verder hebben
                                        verschillende mensen zich ingezet voor
                                        make-up en kleding, het animeren en
                                        renderen van de openingsanimatie, het
                                        componeren van muziek voor de
                                        openingsanimatie en het maken van
                                        pr-materiaal. Zelf maakte ik deel uit
                                        van het kernteam van vier mensen dat dit
                                        project organiseerde. Met ons vieren
                                        hebben we bijna een jaar lang gewerkt
                                        aan het schrijven van het script,
                                        uitschrijven van audities,
                                        testsc&#232;nes filmen, tien dagen
                                        opnemen en maanden editen.
                                    </p>
                                    <img
                                        src="graphics/CP.jpg"
                                        style="margin: 25px; width: 500px; @media only screen and (max-width: 950px) {width: 290px;}"
                                    />
                                    <ul>
                                        <li
                                            style="list-style-type: none; margin: 0; padding: 0; display: inline-block"
                                        >
                                            <p class="p2">Trailer:</p><iframe
                                                src="https://www.youtube.com/embed/SfK4_fCNvn0"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="list-style-type: none; margin: 0; padding: 0; display: inline-block"
                                        >
                                            <p class="p2">Film:</p><iframe
                                                src="https://www.youtube.com/embed/6LUGK_lQm-Y"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2021</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel12">
                            <ul class="filmsublijst" id="filmsublijst12">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen12()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl12"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen12()"
                                    id="duimnagelOverlay12"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel12"
                                    style="background-image: url('duimnagels/12tijdloos.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Tijdloos</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving12">
                                    <p class="p2">
                                        In 2021 viert de christelijke
                                        studentenvereniging C.S.R. Delft haar
                                        60-jarig bestaan. Ter ere van dit
                                        twaalfde lustrum organiseert de
                                        Lustrumcommissie een halfjaar vol
                                        activiteiten onder het thema 'Tijdloos'.
                                        In dit filmpje stellen de commissieleden
                                        zichzelf voor aan de vereniging en
                                        presenteren zij hun thema.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/9rXmPGNczdE"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2020</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel11">
                            <ul class="filmsublijst" id="filmsublijst11">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen11()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl11"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen11()"
                                    id="duimnagelOverlay11"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel11"
                                    style="background-image: url('duimnagels/11gatewayofindia.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Gateway of India</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving11">
                                    <p class="p2">
                                        De Dies (verjaardag van de vereniging)
                                        van studentenvereniging C.S.R. Delft
                                        werd in 2021 gevierd onder het thema
                                        'Gateway of India'. In dit filmpje stelt
                                        de Diescommissie zichzelf voor en
                                        presenteert haar thema aan de leden.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/JDAUpwCbUog"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel10">
                            <ul class="filmsublijst" id="filmsublijst10">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen10()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl10"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen10()"
                                    id="duimnagelOverlay10"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel10"
                                    style="background-image: url('duimnagels/10ditiscsrdelft.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Dit is C.S.R. Delft</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving10">
                                    <p class="p2">
                                        Promotiefilmpje voor studentenvereniging
                                        C.S.R. Delft
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/AE8RE8e5qI4"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel9">
                            <ul class="filmsublijst" id="filmsublijst9">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen9()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl9"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen9()"
                                    id="duimnagelOverlay9"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel9"
                                    style="background-image: url('duimnagels/9machtigmooi.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Machtig Mooi</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving9">
                                    <p class="p2">
                                        Tijdens de OWee (Ontvangstweek voor
                                        aankomende Delftse studenten) van 2020
                                        organiseerde de OWee-commissie van
                                        studentenvereniging C.S.R. Delft
                                        activiteiten onder het thema 'Machtig
                                        Mooi' voor aankomende studenten om de
                                        sfeer van de vereniging te proeven. In
                                        dit filmpje stelt de commissie zich voor
                                        aan de leden en presenteert ze haar
                                        thema.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/01kzRDhdcYw"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2019</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel8">
                            <ul class="filmsublijst" id="filmsublijst8">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen8()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl8"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen8()"
                                    id="duimnagelOverlay8"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel8"
                                    style="background-image: url('duimnagels/8voortvarend.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Voortvarend</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving8">
                                    <p class="p2">
                                        De Dies (verjaardag van de vereniging)
                                        van studentenvereniging C.S.R. Delft
                                        werd in 2020 gevierd onder het thema
                                        'Voortvarend'. In dit filmpje stellen de
                                        organisators zichzelf voor en
                                        presenteren hun thema aan de leden.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/i1b3fFXB_PQ"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel7">
                            <ul class="filmsublijst" id="filmsublijst7">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen7()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl7"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen7()"
                                    id="duimnagelOverlay7"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel7"
                                    style="background-image: url('duimnagels/7trouwdagjulianenmichelle.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">
                                            Bruiloft Julian & Michelle
                                        </p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving7">
                                    <p class="p2">
                                        In juli 2019 heb ik voor Julian en
                                        Michelle hun bruiloft mogen filmen als
                                        herinnering voor later. Dit is voor het
                                        bruidspaar een chronologische
                                        herbeleving van de dag.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/4Q3894EsVLY"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel6">
                            <ul class="filmsublijst" id="filmsublijst6">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen6()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl6"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen6()"
                                    id="duimnagelOverlay6"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel6"
                                    style="background-image: url('duimnagels/6lightitup.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Light it up!</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving6">
                                    <p class="p2">
                                        Tijdens de OWee (Ontvangstweek voor
                                        aankomende Delftse studenten) van 2019
                                        organiseerde de OWee-commissie van
                                        studentenvereniging C.S.R. Delft
                                        activiteiten onder het thema 'Light it
                                        up!' voor aankomende studenten om de
                                        sfeer van de vereniging te laten
                                        proeven. In dit filmpje stellen de
                                        commissieleden zich voor aan de
                                        vereniging en presenteren ze hun thema.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/fPq5X5v9K2s"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel5">
                            <ul class="filmsublijst" id="filmsublijst5">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen5()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl5"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen5()"
                                    id="duimnagelOverlay5"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel5"
                                    style="background-image: url('duimnagels/5liveit2019.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">
                                            IFES-conferentie Live It!
                                        </p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving5">
                                    <p class="p2">
                                        De Live It! is een jaarlijkse
                                        conferentie van IFES Nederland, een
                                        organisatie waar veel christelijke
                                        studentenverenigingen bij aangesloten
                                        zijn. In 2019 heb ik een promotiefilmpje
                                        en een aftermovie mogen filmen en
                                        monteren voor de Live It!
                                    </p>
                                    <ul style=" margin-bottom: 22px;">
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/C-TEPNOPk6c"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/jOUrFx7_TCk"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel4">
                            <ul class="filmsublijst" id="filmsublijst4">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen4()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl4"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen4()"
                                    id="duimnagelOverlay4"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel4"
                                    style="background-image: url('duimnagels/4lumen.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Lumen</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving4">
                                    <p class="p2">
                                        In het tweede jaar van de studie
                                        Industrieel Ontwerpen hebben we tijdens
                                        een ontwerpproject een conceptontwerp
                                        gemaakt voor de zonwering van de
                                        toekomst. Met dit filmpje lieten wij als
                                        team de werking van het concept zien als
                                        afsluiting van het project. Mijn
                                        teamgenoten hebben het acteerwerk op
                                        zich genomen en ik heb het gefilmd en
                                        gemonteerd.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/Kmpw6d5DVNg"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2018</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel3">
                            <ul class="filmsublijst" id="filmsublijst3">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen3()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl3"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen3()"
                                    id="duimnagelOverlay3"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel3"
                                    style="background-image: url('duimnagels/3heerlijkhelderhipster.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">
                                            Heerlijk Helder Hipster
                                        </p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving3">
                                    <p class="p2">
                                        Dit filmpje kondigt een feest met het
                                        thema Heerlijk Helder Hipster aan dat
                                        eind 2018 bij studentenvereniging C.S.R.
                                        Delft georganiseerd is.
                                    </p>
                                    <iframe
                                        src="https://www.youtube.com/embed/fBQsFaPLVB4"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </ul>
                        </li>
                    </div>

                    <div>
                        <li class="filmlijst" id="tegel2">
                            <ul class="filmsublijst" id="filmsublijst2">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen2()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl2"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen2()"
                                    id="duimnagelOverlay2"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel2"
                                    style="background-image: url('duimnagels/2delftstudieismaardehelft.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">
                                            Delft: Studie is maar de Helft
                                        </p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving2">
                                    <p class="p2">
                                        In deze driedelige serie leggen twee
                                        eerstejaars studenten van
                                        studentenvereniging C.S.R. Delft uit wat
                                        het studentenleven inhoudt en hoe
                                        studie, ontplooiing en gezelligheid
                                        samengaan bij C.S.R.
                                    </p>
                                    <ul style=" margin-bottom: 22px;">
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/TBbul6MCyMc"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/a7hhtoo_kzY"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/-aqpydYYohY"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px;"
                                                src="https://www.youtube.com/embed/t6CKV6LG1wo"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="twintig">
                <div class="jaartallen">
                    <p class="p2">2017</p>
                </div>
                <ul class="filmlijst">
                    <div>
                        <li class="filmlijst" id="tegel1">
                            <ul class="filmsublijst" id="filmsublijst1">
                                <div
                                    class="knopMeerZien"
                                    onclick="uitklappen1()"
                                >
                                    <img
                                        src="graphics/pijl goud.png"
                                        class="pijl"
                                        id="pijl1"
                                    />
                                </div>
                                <div
                                    class="duimnagelOverlay"
                                    onclick="uitklappen1()"
                                    id="duimnagelOverlay1"
                                >
                                </div>
                                <div
                                    class="duimnagel"
                                    id="duimnagel1"
                                    style="background-image: url('duimnagels/1stillhere.jpg');"
                                >
                                    <div class="duimnagelTitel">
                                        <p class="p3">Still Here</p>
                                    </div>
                                </div>
                                <div class="beschrijving" id="beschrijving1">
                                    <p class="p2">
                                        In het examenjaar van de middelbare
                                        school heb ik met twee klasgenoten de
                                        korte film 'Still Here' gemaakt als
                                        profielwerkstuk. Deze film is het eerste
                                        filmproject waar ik aan meegewerkt heb.
                                    </p>
                                    <iframe
                                        style="margin-bottom: 45px;"
                                        src="https://www.youtube.com/embed/IBtX_8gLDUw"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe><br />
                                    <ul style=" margin-bottom: 22px;">
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px; height: 197px;"
                                                src="https://www.youtube.com/embed/wqFhJgrxsVw"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                        <li
                                            style="display: inline-block; list-style-type: none;"
                                        >
                                            <iframe
                                                style="width: 350px; height: 197px;"
                                                src="https://www.youtube.com/embed/PavouccLgAo"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>

            <br />
            <div class="tijdlijn">&nbsp;</div>
            <br /><br /><br /><br /><br /><br /><br />
        </div>

        <br /><br /><br /><br /><br /><br />
        <div class="voetnoot">
            <table class="voetnoot">
                <tr>
                    <td id="links"><p class="p4">Email:</p></td>
                    <td id="rechts"
                        ><p class="p4">
                            <a href="mailto:mail@mhorrfilms.nl">
                                mail@mhorrfilms.nl
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td id="links"><p class="p4">KvK-nummer:</p></td>
                    <td id="rechts"><p class="p4">82601941</p></td>
                </tr>
                <tr>
                    <td id="links"><p class="p4">Btw-id:</p></td>
                    <td id="rechts"><p class="p4">NL003705160B02</p></td>
                </tr>
            </table><br />
            <p class="p4">Website door Ruben van Briemen</p>
        </div>
    </div>

    <script type="text/javascript">
        function goFullscreen(showreelplayer) {
            var element = document.getElementById(showreelplayer);
            if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            }
        }
    </script>

    <script>
        var status15 = 0;
        var status14 = 0;
        var status13 = 0;
        var status12 = 0;
        var status11 = 0;
        var status10 = 0;
        var status9 = 0;
        var status8 = 0;
        var status7 = 0;
        var status6 = 0;
        var status5 = 0;
        var status4 = 0;
        var status3 = 0;
        var status2 = 0;
        var status1 = 0;

        function uitklappen15() {
            if (status15 == 0) {
                document.getElementById("beschrijving15").style.height =
                    "500px";
                document.getElementById("filmsublijst15").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst15").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay15").style.minWidth =
                    "100%";
                document.getElementById("duimnagel15").style.minWidth = "100%";
                document.getElementById("pijl15").style.transform =
                    "rotate(135deg)";
                status15 = 1;
            } else {
                document.getElementById("beschrijving15").style.height = "0px";
                document.getElementById("filmsublijst15").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst15").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay15"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel15").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst15").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay15"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel15").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl15").style.transform =
                    "rotate(-45deg)";
                status15 = 0;
            }
        }
        function uitklappen14() {
            if (status14 == 0) {
                document.getElementById("beschrijving14").style.height =
                    "500px";
                document.getElementById("filmsublijst14").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst14").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay14").style.minWidth =
                    "100%";
                document.getElementById("duimnagel14").style.minWidth = "100%";
                document.getElementById("pijl14").style.transform =
                    "rotate(135deg)";
                status14 = 1;
            } else {
                document.getElementById("beschrijving14").style.height = "0px";
                document.getElementById("filmsublijst14").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst14").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay14"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel14").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst14").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay14"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel14").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl14").style.transform =
                    "rotate(-45deg)";
                status14 = 0;
            }
        }
        function uitklappen13() {
            if (status13 == 0) {
                document.getElementById("beschrijving13").style.height =
                    "1600px";
                document.getElementById("filmsublijst13").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst13").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay13").style.minWidth =
                    "100%";
                document.getElementById("duimnagel13").style.minWidth = "100%";
                document.getElementById("pijl13").style.transform =
                    "rotate(135deg)";
                status13 = 1;
            } else {
                document.getElementById("beschrijving13").style.height = "0px";
                document.getElementById("filmsublijst13").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst13").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay13"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel13").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst13").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay13"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel13").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl13").style.transform =
                    "rotate(-45deg)";
                status13 = 0;
            }
        }
        function uitklappen12() {
            if (status12 == 0) {
                document.getElementById("beschrijving12").style.height =
                    "555px";
                document.getElementById("filmsublijst12").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst12").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay12").style.minWidth =
                    "100%";
                document.getElementById("duimnagel12").style.minWidth = "100%";
                document.getElementById("pijl12").style.transform =
                    "rotate(135deg)";
                status12 = 1;
            } else {
                document.getElementById("beschrijving12").style.height = "0px";
                document.getElementById("filmsublijst12").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst12").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay12"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel12").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst12").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay12"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel12").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl12").style.transform =
                    "rotate(-45deg)";
                status12 = 0;
            }
        }

        function uitklappen11() {
            if (status11 == 0) {
                document.getElementById("beschrijving11").style.height =
                    "555px";
                document.getElementById("filmsublijst11").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst11").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay11").style.minWidth =
                    "100%";
                document.getElementById("duimnagel11").style.minWidth = "100%";
                document.getElementById("pijl11").style.transform =
                    "rotate(135deg)";
                status11 = 1;
            } else {
                document.getElementById("beschrijving11").style.height = "0px";
                document.getElementById("filmsublijst11").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst11").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay11"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel11").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst11").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay11"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel11").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl11").style.transform =
                    "rotate(-45deg)";
                status11 = 0;
            }
        }

        function uitklappen10() {
            if (status10 == 0) {
                document.getElementById("beschrijving10").style.height =
                    "555px";
                document.getElementById("filmsublijst10").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst10").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay10").style.minWidth =
                    "100%";
                document.getElementById("duimnagel10").style.minWidth = "100%";
                document.getElementById("pijl10").style.transform =
                    "rotate(135deg)";
                status10 = 1;
            } else {
                document.getElementById("beschrijving10").style.height = "0px";
                document.getElementById("filmsublijst10").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst10").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay10"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel10").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst10").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay10"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel10").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl10").style.transform =
                    "rotate(-45deg)";
                status10 = 0;
            }
        }

        function uitklappen9() {
            if (status9 == 0) {
                document.getElementById("beschrijving9").style.height = "555px";
                document.getElementById("filmsublijst9").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst9").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay9").style.minWidth =
                    "100%";
                document.getElementById("duimnagel9").style.minWidth = "100%";
                document.getElementById("pijl9").style.transform =
                    "rotate(135deg)";
                status9 = 1;
            } else {
                document.getElementById("beschrijving9").style.height = "0px";
                document.getElementById("filmsublijst9").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst9").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay9"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel9").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst9").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay9"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel9").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl9").style.transform =
                    "rotate(-45deg)";
                status9 = 0;
            }
        }

        function uitklappen8() {
            if (status8 == 0) {
                document.getElementById("beschrijving8").style.height = "555px";
                document.getElementById("filmsublijst8").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst8").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay8").style.minWidth =
                    "100%";
                document.getElementById("duimnagel8").style.minWidth = "100%";
                document.getElementById("pijl8").style.transform =
                    "rotate(135deg)";
                status8 = 1;
            } else {
                document.getElementById("beschrijving8").style.height = "0px";
                document.getElementById("filmsublijst8").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst8").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay8"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel8").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst8").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay8"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel8").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl8").style.transform =
                    "rotate(-45deg)";
                status8 = 0;
            }
        }

        function uitklappen7() {
            if (status7 == 0) {
                document.getElementById("beschrijving7").style.height = "555px";
                document.getElementById("filmsublijst7").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst7").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay7").style.minWidth =
                    "100%";
                document.getElementById("duimnagel7").style.minWidth = "100%";
                document.getElementById("pijl7").style.transform =
                    "rotate(135deg)";
                status7 = 1;
            } else {
                document.getElementById("beschrijving7").style.height = "0px";
                document.getElementById("filmsublijst7").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst7").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay7"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel7").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst7").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay7"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel7").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl7").style.transform =
                    "rotate(-45deg)";
                status7 = 0;
            }
        }

        function uitklappen6() {
            if (status6 == 0) {
                document.getElementById("beschrijving6").style.height = "555px";
                document.getElementById("filmsublijst6").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst6").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay6").style.minWidth =
                    "100%";
                document.getElementById("duimnagel6").style.minWidth = "100%";
                document.getElementById("pijl6").style.transform =
                    "rotate(135deg)";
                status6 = 1;
            } else {
                document.getElementById("beschrijving6").style.height = "0px";
                document.getElementById("filmsublijst6").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst6").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay6"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel6").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst6").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay6"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel6").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl6").style.transform =
                    "rotate(-45deg)";
                status6 = 0;
            }
        }

        function uitklappen5() {
            if (status5 == 0) {
                document.getElementById("beschrijving5").style.height = "auto";
                document.getElementById("filmsublijst5").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst5").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay5").style.minWidth =
                    "100%";
                document.getElementById("duimnagel5").style.minWidth = "100%";
                document.getElementById("pijl5").style.transform =
                    "rotate(135deg)";
                status5 = 1;
            } else {
                document.getElementById("beschrijving5").style.height = "0px";
                document.getElementById("filmsublijst5").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst5").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay5"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel5").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst5").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay5"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel5").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl5").style.transform =
                    "rotate(-45deg)";
                status5 = 0;
            }
        }

        function uitklappen4() {
            if (status4 == 0) {
                document.getElementById("beschrijving4").style.height = "555px";
                document.getElementById("filmsublijst4").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst4").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay4").style.minWidth =
                    "100%";
                document.getElementById("duimnagel4").style.minWidth = "100%";
                document.getElementById("pijl4").style.transform =
                    "rotate(135deg)";
                status4 = 1;
            } else {
                document.getElementById("beschrijving4").style.height = "0px";
                document.getElementById("filmsublijst4").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst4").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay4"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel4").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst4").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay4"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel4").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl4").style.transform =
                    "rotate(-45deg)";
                status4 = 0;
            }
        }

        function uitklappen3() {
            if (status3 == 0) {
                document.getElementById("beschrijving3").style.height = "555px";
                document.getElementById("filmsublijst3").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst3").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay3").style.minWidth =
                    "100%";
                document.getElementById("duimnagel3").style.minWidth = "100%";
                document.getElementById("pijl3").style.transform =
                    "rotate(135deg)";
                status3 = 1;
            } else {
                document.getElementById("beschrijving3").style.height = "0px";
                document.getElementById("filmsublijst3").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst3").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay3"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel3").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst3").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay3"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel3").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl3").style.transform =
                    "rotate(-45deg)";
                status3 = 0;
            }
        }

        function uitklappen2() {
            if (status2 == 0) {
                document.getElementById("beschrijving2").style.height = "auto";
                document.getElementById("filmsublijst2").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst2").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay2").style.minWidth =
                    "100%";
                document.getElementById("duimnagel2").style.minWidth = "100%";
                document.getElementById("pijl2").style.transform =
                    "rotate(135deg)";
                status2 = 1;
            } else {
                document.getElementById("beschrijving2").style.height = "0px";
                document.getElementById("filmsublijst2").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst2").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay2"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel2").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst2").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay2"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel2").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl2").style.transform =
                    "rotate(-45deg)";
                status2 = 0;
            }
        }

        function uitklappen1() {
            if (status1 == 0) {
                document.getElementById("beschrijving1").style.height = "auto";
                document.getElementById("filmsublijst1").style.minHeight =
                    "auto";
                document.getElementById("filmsublijst1").style.maxWidth =
                    "100%";
                document.getElementById("duimnagelOverlay1").style.minWidth =
                    "100%";
                document.getElementById("duimnagel1").style.minWidth = "100%";
                document.getElementById("pijl1").style.transform =
                    "rotate(135deg)";
                status1 = 1;
            } else {
                document.getElementById("beschrijving1").style.height = "0px";
                document.getElementById("filmsublijst1").style.minHeight =
                    "10px";
                if (document.documentElement.clientWidth < 951) {
                    document.getElementById("filmsublijst1").style.maxWidth =
                        "300px";
                    document.getElementById(
                        "duimnagelOverlay1"
                    ).style.minWidth = "300px";
                    document.getElementById("duimnagel1").style.minWidth =
                        "300px";
                } else {
                    document.getElementById("filmsublijst1").style.maxWidth =
                        "800px";
                    document.getElementById(
                        "duimnagelOverlay1"
                    ).style.minWidth = "800px";
                    document.getElementById("duimnagel1").style.minWidth =
                        "800px";
                }
                document.getElementById("pijl1").style.transform =
                    "rotate(-45deg)";
                status1 = 0;
            }
        }
    </script>
</Layout>
