---
import CTABruiloft from "../components/CTABruiloft.astro";
import FilmLijst from "../components/FilmLijst.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Menu from "../components/Menu.astro";
import Showreel from "../components/Showreel.astro";
import Voetnoot from "../components/Voetnoot.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Menu />

    <main>
        <Hero />

        <Intro />

        <Showreel />

        <CTABruiloft />

        <FilmLijst />

        <Voetnoot />
    </main>
</Layout>

<style lang="scss">
    main {
        width: 100%;
        max-width: 100vw;
    }
</style>
