---
import Main from "../layouts/main.astro";

import { getCollection } from "astro:content";
import { groupTegelsByJaar } from "../lib/date";

const tegels = await getCollection("tegels");
const groupedTegels = groupTegelsByJaar(tegels);
---

<Main>
    <!-- <main> -->
    <h1>PORTFOLIO</h1>

    <ul class="filmlijst">
        {
            tegels
                .sort((a, b) => b.data.datum.valueOf() - a.data.datum.valueOf())
                .map((t) => (
                    <li aria-label="Tegel">
                        <img
                            src={`plaatjes/duimnagels/${t.data.duimnagelBestand}`}
                            alt={`${t.data.titel ?? "Tegel"} video thumbnail`}
                            role="banner"
                            loading="lazy"
                        />
                    </li>
                ))
        }
    </ul>
    <!-- </main> -->
</Main>

<style lang="scss">
    ul.filmlijst {
        width: 100vw;
        height: 100vh;
        position: absolute;
        inset: 0;
        margin: 0;
        padding: 0;

        will-change: scroll-position;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        scroll-behavior: smooth;

        > li {
            width: 100%;
            height: 100%;
            scroll-snap-align: center;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
</style>
