---
import { Image } from "astro:assets";

import FotoBruiloft from "../assets/fotobruiloft1.jpg";
---

<section id="bruiloft">
    <Image src={FotoBruiloft} alt="Foto van mij die een bruiloft filmt" />
    <a href="/bruiloft">Bruiloft laten filmen?</a>
</section>

<style>
    section#bruiloft {
        position: relative;
        width: 100%;
        height: 300px;
        display: grid;
        place-content: center;
        margin-block: 200px;

        img {
            position: absolute;
            inset: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }

        a {
            user-select: none;
            text-decoration: none;
            padding-block: 1rem;
            padding-inline: 1.75rem;
            border-radius: 0.25rem;
            background-color: var(--accentkleur);

            font-size: 33px;
            font-weight: 600;
            line-height: 43px;
            color: var(--zwart);

            &:hover {
                color: var(--donkergrijs);
            }
        }
    }
</style>
