---
export interface Props {
    achtergrondBestand: string;
    titel?: string;
    plaatjeTitel?: string;
}
const { titel, achtergrondBestand, plaatjeTitel } = Astro.props;
---

<header>
    {
        /.*\.mp4/g.test(achtergrondBestand) ? (
            <video autoplay muted loop>
                <source src={achtergrondBestand} type="video/mp4" />
            </video>
        ) : (
            <>
                <img
                    src={achtergrondBestand}
                    alt={plaatjeTitel}
                    loading="lazy"
                />
                <h1>{titel}</h1>
            </>
        )
    }
</header>

<style>
    header {
        user-select: none;
        width: 100vw;
        height: 100vh;
        position: relative;
        display: grid;
        place-content: center;

        video,
        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;

            &[src="/plaatjes/fotobruiloft1.jpg"] {
                object-position: 40% 50%;
            }
        }

        h1 {
            text-transform: uppercase;
        }
    }
</style>
