---
import { diffInYear } from "../lib/date";

const today = new Date();
const verjaardag = new Date("1999-07-10");
const leeftijd = diffInYear(today, verjaardag);
---

<section id="intro">
    <img src="/plaatjes/Ruben.png" alt="Foto van mij, Ruben" loading="lazy" />
    <p>
        Welkom bij Mhorrfilms. Ik ben Ruben van Briemen, een
        {leeftijd}-jarige industrieel ontwerper in Delft. Naast mijn
        studie heb ik veel tijd, energie en enthousiasme in film gestoken; eerst vooral
        bij de studentenvereniging waar ik lid was, later vooral met freelance opdrachten.
        <br />
        Benieuwd naar wat ik maak? Neem een kijkje in mijn portfolio hieronder.
    </p>
</section>

<style>
    section#intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-block: 200px;
        gap: 5rem;
        background-color: var(--wit);
        color: var(--zwart);

        img {
            width: auto;
            height: 300px;
        }

        p {
            max-width: 35%;
            margin: 0;
        }
    }

    @media only screen and (width < 678px) {
        section#intro {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            padding-inline: 1rem;
            padding-block: 2rem;

            p {
                max-width: 100%;
                text-align: right;
            }
        }
    }
</style>
