---
import { Icon } from "astro-icon";
---

<div class="menubalk" id="m0">
    <p style="margin: 12px; display: block">MENU</p>
    <div class="menuknop" id="knop0">
        <Icon pack="ph" name="list" style={{ color: "var(--goud)" }} />
    </div>
</div>
<div class="menubalk" id="m1">
    <div class="menuknop" id="knop1">
        <Icon pack="ph" name="x" style={{ color: "var(--goud)" }} />
    </div>
</div>
<div class="menuunderlay" id="m1">
    <img class="logomenu" src="graphics/logo1.png" />
    <div class="menu">
        <ul>
            <a href="index.html">
                <li>
                    <ul>
                        <li>
                            <Icon
                                pack="ph"
                                name="caret-right"
                                style={{ color: "var(--goud)" }}
                            />
                        </li>
                        <li><h2>HOME</h2></li>
                        <li>
                            <Icon
                                pack="ph"
                                name="caret-left"
                                style={{ color: "var(--goud)" }}
                            />
                        </li>
                    </ul>
                </li>
            </a>
            <a href="bruiloft/index.html">
                <li>
                    <ul>
                        <li>
                            <Icon
                                pack="ph"
                                name="caret-right"
                                style={{ color: "var(--goud)" }}
                            />
                        </li>
                        <li><h2>BRUILOFTSFILMS</h2></li>
                        <li>
                            <Icon
                                pack="ph"
                                name="caret-left"
                                style={{ color: "var(--goud)" }}
                            />
                        </li>
                    </ul>
                </li>
            </a>
        </ul>
    </div>
</div>
