---
import { Icon } from "astro-icon/components";
---

<section id="showreel">
    <video
        id="showreel-player"
        preload="none"
        poster="plaatjes/duimnagels/showreel.jpg"
        onclick="this.paused ? this.play() : this.pause();"
    >
        <source src="/filmpjes/showreel.mp4" type="video/mp4" />
    </video>

    <button id="fullscreen-knop" aria-label="Open video in volledig scherm">
        <Icon name="ph:corners-out" aria-hidden />
    </button>
</section>

<script>
    const goFullscreen = () => {
        let elem = document.querySelector("#showreel-player")!;

        if (!document.fullscreenElement) {
            elem.requestFullscreen().catch((err) => {
                alert(
                    `Error attempting to enable fullscreen mode: ${err.message} (${err.name})`
                );
            });
        } else {
            document.exitFullscreen();
        }
    };
    document
        .querySelector("#fullscreen-knop")!
        .addEventListener("click", () => {
            goFullscreen();
            return false;
        });
</script>

<style>
    section#showreel {
        position: relative;

        video {
            width: 100%;
            height: auto;
            aspect-ratio: 21/9;
            object-fit: cover;
        }

        button#fullscreen-knop {
            all: unset;
            cursor: pointer;

            position: absolute;
            right: 0px;
            bottom: 0px;
            padding: 0.25rem;

            color: var(--accentkleur);

            > svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
</style>
