<footer>
    <table>
        <tr>
            <td class="links">Email:</td>
            <td class="rechts">
                <a href="mailto:mail@mhorrfilms.nl"> mail@mhorrfilms.nl</a>
            </td>
        </tr>
        <tr>
            <td class="links">KvK-nummer:</td>
            <td class="rechts">82601941</td>
        </tr>
        <tr>
            <td class="links">Btw-id:</td>
            <td class="rechts">NL003705160B02</td>
        </tr>
    </table>
    <p>Website door Ruben van Briemen</p>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            td {
                padding: 0.25rem;

                &.links {
                    text-align: right;
                }
                &.rechts {
                    text-align: left;
                }
            }
        }
    }
</style>
