<footer>
    <table>
        <tr>
            <td id="links"><p>Email:</p></td>
            <td id="rechts">
                <p>
                    <a href="mailto:mail@mhorrfilms.nl"> mail@mhorrfilms.nl</a>
                </p>
            </td>
        </tr>
        <tr>
            <td id="links"><p>KvK-nummer:</p></td>
            <td id="rechts"><p>82601941</p></td>
        </tr>
        <tr>
            <td id="links"><p>Btw-id:</p></td>
            <td id="rechts"><p>NL003705160B02</p></td>
        </tr>
    </table>
    <p>Website door Ruben van Briemen</p>
</footer>
